<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.DiagnosisMapper">
    <resultMap id="KlgbaseDiagnosisMap" type="com.jsg.entity.Diagnosis">
        <result property="id" column="id"/>
        <result property="catalogId" column="catalog_id"/>
        <result property="name" column="name"/>
        <result property="icd10Code" column="icd10_code"/>
        <result property="type" column="type"/>
        <result property="zzdFlag" column="zzd_flag"/>
        <result property="crbFlag" column="crb_flag"/>
        <result property="cffmFlag" column="cffm_flag"/>
        <result property="dbzFlag" column="dbz_flag"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time" javaType="java.util.Date"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date"/>
        <result property="createUserId" column="create_userId"/>
        <result property="updateUserId" column="update_userId"/>
    </resultMap>

    <delete id="del" parameterType="java.lang.Integer">
        delete from klgbase_diagnosis
        where id = #{diagnosisId}
    </delete>


    <insert id="add" parameterType="com.jsg.entity.Diagnosis" useGeneratedKeys="true" keyProperty="id">
        insert into klgbase_diagnosis (id, catalog_id, name,
        icd10_code, type, zzd_flag,crb_flag,cffm_flag,dbz_flag,
        status,
        create_time, update_time,
        create_userId, update_userId
        )
        values (#{id},#{catalogId},#{name},#{icd10Code},#{type},#{zzdFlag},#{crbFlag},#{cffmFlag},#{dbzFlag},#{status},#{createTime},
		#{updateTime},#{createUserId},#{updateUserId}
        )
    </insert>


    <update id="edi" parameterType="com.jsg.entity.Diagnosis">
        update klgbase_diagnosis
        <set>
            <if test="catalogId != null">
                catalog_id = #{catalogId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="icd10Code != null">
                icd10_code = #{icd10Code},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="zzdFlag != null">
                zzd_flag = #{zzdFlag},
            </if>
            <if test="crbFlag != null">
                crb_flag = #{crbFlag},
            </if>
            <if test="cffmFlag != null">
                cffm_flag = #{cffmFlag},
            </if>

            <if test="dbzFlag != null">
                dbz_flag = #{dbzFlag},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createUserId != null">
                create_userId = #{createUserId},
            </if>
            <if test="updateUserId != null">
                update_userId = #{updateUserId},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectByIcd10Code" parameterType="string" resultMap="KlgbaseDiagnosisMap">
        select  * from klgbase_diagnosis  where  icd10_code = #{icd10Code}
    </select>


    <select id="list" resultMap="KlgbaseDiagnosisMap">
        SELECT
        *
        FROM
        klgbase_diagnosis t1
        WHERE t1.catalog_id = #{catalogId}
        <if test="queryKey != null ">
            AND concat(name,icd10_code) like ('%' #{queryKey} '%')
        </if>
        <if test="type != null ">
            and t1.type = #{type}
        </if>
        <if test="zzdFlagCode != null ">
            and t1.zzd_flag_code = #{zzdFlagCode}
        </if>
    </select>
</mapper>