<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.ExamineMapper">
    <resultMap id="KlgbaseExamineMap" type="com.jsg.entity.Examine">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="xm_code" jdbcType="VARCHAR" property="xmCode"/>
        <result column="catalog_id" jdbcType="INTEGER" property="catalogId"/>
        <result column="xm_name" jdbcType="VARCHAR" property="xmName"/>
        <result column="lis_jymx_bm" jdbcType="VARCHAR" property="lisJymxBm"/>
        <result column="jyff" jdbcType="VARCHAR" property="jyff"/>
        <result column="yblx" jdbcType="VARCHAR" property="yblx"/>
        <result column="jy_type_code" jdbcType="VARCHAR" property="jyTypeCode"/>
        <result column="cjbw" jdbcType="VARCHAR" property="cjbw"/>
        <result column="jgjldw_code" jdbcType="VARCHAR" property="jgjldwCode"/>
        <result column="jgzcbs_code" jdbcType="VARCHAR" property="jgzcbsCode"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="syz" jdbcType="LONGVARCHAR" property="syz"/>
        <result column="jjz" jdbcType="LONGVARCHAR" property="jjz"/>
        <result column="sjyq" jdbcType="LONGVARCHAR" property="sjyq"/>
        <result column="lcyy" jdbcType="LONGVARCHAR" property="lcyy"/>
        <result column="yxys" jdbcType="LONGVARCHAR" property="yxys"/>
        <result column="lcjd" jdbcType="LONGVARCHAR" property="lcjd"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_userId" jdbcType="INTEGER" property="createUserid"/>
        <result column="update_userId" jdbcType="INTEGER" property="updateUserid"/>
    </resultMap>
    <delete id="del" parameterType="java.lang.Integer">
        delete from klgbase_examine
        where id = #{examineId}
    </delete>


    <insert id="add" parameterType="com.jsg.entity.Examine" useGeneratedKeys="true" keyProperty="id">
    insert into klgbase_examine (id, xm_code, catalog_id,
      xm_name, lis_jymx_bm, jyff,
      yblx, jy_type_code, cjbw,
      jgjldw_code, jgzcbs_code, `status`,
      create_time, update_time, create_userId,
      update_userId, syz, jjz,
      sjyq, lcyy, yxys,
      lcjd)
    values (#{id,jdbcType=INTEGER}, #{xmCode,jdbcType=VARCHAR}, #{catalogId,jdbcType=INTEGER},
      #{xmName,jdbcType=VARCHAR}, #{lisJymxBm,jdbcType=VARCHAR}, #{jyff,jdbcType=VARCHAR},
      #{yblx,jdbcType=VARCHAR}, #{jyTypeCode,jdbcType=VARCHAR}, #{cjbw,jdbcType=VARCHAR},
      #{jgjldwCode,jdbcType=VARCHAR}, #{jgzcbsCode,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=INTEGER},
      #{updateUserid,jdbcType=INTEGER}, #{syz,jdbcType=LONGVARCHAR}, #{jjz,jdbcType=LONGVARCHAR},
      #{sjyq,jdbcType=LONGVARCHAR}, #{lcyy,jdbcType=LONGVARCHAR}, #{yxys,jdbcType=LONGVARCHAR},
      #{lcjd,jdbcType=LONGVARCHAR})
    </insert>


    <update id="edi" parameterType="com.jsg.entity.Examine">
        update klgbase_examine
        <set>
            <if test="catalogId != null">
                catalog_id = #{catalogId,jdbcType=INTEGER},
            </if>
            <if test="xmName != null">
                xm_name = #{xmName,jdbcType=VARCHAR},
            </if>
            <if test="xmCode != null">
                xm_code = #{xmCode,jdbcType=VARCHAR},
            </if>
            <if test="lisJymxBm != null">
                lis_jymx_bm = #{lisJymxBm,jdbcType=VARCHAR},
            </if>
            <if test="jyff != null">
                jyff = #{jyff,jdbcType=VARCHAR},
            </if>
            <if test="yblx != null">
                yblx = #{yblx,jdbcType=VARCHAR},
            </if>
            <if test="jyTypeCode != null">
                jy_type_code = #{jyTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="cjbw != null">
                cjbw = #{cjbw,jdbcType=VARCHAR},
            </if>
            <if test="jgjldwCode != null">
                jgjldw_code = #{jgjldwCode,jdbcType=VARCHAR},
            </if>
            <if test="jgzcbsCode != null">
                jgzcbs_code = #{jgzcbsCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userId = #{createUserid,jdbcType=INTEGER},
            </if>
            <if test="updateUserid != null">
                update_userId = #{updateUserid,jdbcType=INTEGER},
            </if>
            <if test="syz != null">
                syz = #{syz,jdbcType=LONGVARCHAR},
            </if>
            <if test="jjz != null">
                jjz = #{jjz,jdbcType=LONGVARCHAR},
            </if>
            <if test="sjyq != null">
                sjyq = #{sjyq,jdbcType=LONGVARCHAR},
            </if>
            <if test="lcyy != null">
                lcyy = #{lcyy,jdbcType=LONGVARCHAR},
            </if>
            <if test="yxys != null">
                yxys = #{yxys,jdbcType=LONGVARCHAR},
            </if>
            <if test="lcjd != null">
                lcjd = #{lcjd,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}

    </update>

    <select id="selectByCode" parameterType="string" resultMap="KlgbaseExamineMap">
    select  * from  klgbase_examine t1 where t1.xm_code = #{xmCode}
    </select>

    <resultMap id="KlgbaseExamineMap2" type="com.jsg.entity.Examine">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="xm_code" jdbcType="VARCHAR" property="xmCode"/>
        <result column="catalog_id" jdbcType="INTEGER" property="catalogId"/>
        <result column="xm_name" jdbcType="VARCHAR" property="xmName"/>
        <result column="lis_jymx_bm" jdbcType="VARCHAR" property="lisJymxBm"/>
        <result column="jyff" jdbcType="VARCHAR" property="jyff"/>
        <result column="yblx" jdbcType="VARCHAR" property="yblx"/>
        <result column="jy_type_code" jdbcType="VARCHAR" property="jyTypeCode"/>
        <result column="cjbw" jdbcType="VARCHAR" property="cjbw"/>
        <result column="jgjldw_code" jdbcType="VARCHAR" property="jgjldwCode"/>
        <result column="jgzcbs_code" jdbcType="VARCHAR" property="jgzcbsCode"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="syz" jdbcType="LONGVARCHAR" property="syz"/>
        <result column="jjz" jdbcType="LONGVARCHAR" property="jjz"/>
        <result column="sjyq" jdbcType="LONGVARCHAR" property="sjyq"/>
        <result column="lcyy" jdbcType="LONGVARCHAR" property="lcyy"/>
        <result column="yxys" jdbcType="LONGVARCHAR" property="yxys"/>
        <result column="lcjd" jdbcType="LONGVARCHAR" property="lcjd"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_userId" jdbcType="INTEGER" property="createUserid"/>
        <result column="update_userId" jdbcType="INTEGER" property="updateUserid"/>
        <collection property="rangeData" ofType="com.jsg.entity.KlgbaseExamineCkfw" select="findByRangeData"
                    column="id"/>
    </resultMap>

    <resultMap id="examineCkfw" type="com.jsg.entity.KlgbaseExamineCkfw">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="jyxm_id" jdbcType="INTEGER" property="jyxmId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="start_value" jdbcType="DOUBLE" property="startValue"/>
        <result column="end_value" jdbcType="DOUBLE" property="endValue"/>
    </resultMap>

    <select id="findByRangeData" parameterType="int" resultMap="examineCkfw">
        select  * from  klgbase_examine_ckfw t1 where t1.jyxm_id = #{id}
    </select>

    <select id="list" resultMap="KlgbaseExamineMap2">
        SELECT
        t1.*,
        t2.`name` AS jyTypeName,
        t3.`name` AS jgjldwName
        FROM
        klgbase_examine t1
        LEFT JOIN sys_dictionary t2 ON t1.jy_type_code = t2.`code`
        LEFT JOIN sys_dictionary t3 ON t1.jgjldw_code = t3.`code`
        WHERE
        t1.catalog_id = #{catalogId}
        <if test="queryKey != null ">
            AND concat(ifnull(t1.xm_name,''),ifnull(t1.xm_code,'')) like ('%' #{queryKey} '%')
        </if>

        <if test="jyTypeCode != null ">
            AND t1.jy_type_code =#{jyTypeCode}
        </if>

        <if test="yblxCode != null ">
            AND t1.yblx_code =#{yblxCode}
        </if>
    </select>

    <select id="listByName" resultType="java.util.Map">
SELECT
	t1.*, t3.mxfyxmbm,
	t3.xmbm,
	t3.xmdm,
	t3.zbbm,
	t3.zbdm,
	t3.zbmc,
	t3.zlxmbm
FROM
	klgbase_examine t1
LEFT JOIN klgbase_examine_rlt_lis t2 ON t1.xm_code = t2.xm_code
LEFT JOIN lis_xmbm t3 on t2.lis_xmbm = t3.zbbm where  1=1
and   concat(ifnull(t3.xmmc,''),ifnull(t3.xmdm,'')) like ('%' #{queryKey} '%')
    </select>

</mapper>