<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.ExamineMapper">
    <resultMap id="KlgbaseExamineMap" type="com.jsg.entity.Examine">
        <id column="id" jdbcType="INTEGER" property="id" />
        <id column="xm_code" jdbcType="VARCHAR" property="xmCode" />
        <result column="catalog_id" jdbcType="INTEGER" property="catalogId" />
        <result column="xm_name" jdbcType="VARCHAR" property="xmName" />
        <result column="lis_jymx_bm" jdbcType="VARCHAR" property="lisJymxBm" />
        <result column="jyff" jdbcType="VARCHAR" property="jyff" />
        <result column="yblx" jdbcType="VARCHAR" property="yblx" />
        <result column="jy_type_code" jdbcType="VARCHAR" property="jyTypeCode" />
        <result column="cjbw" jdbcType="VARCHAR" property="cjbw" />
        <result column="jgjldw_code" jdbcType="VARCHAR" property="jgjldwCode" />
        <result column="jgzcbs_code" jdbcType="VARCHAR" property="jgzcbsCode" />
        <result column="start_ckz_nan" jdbcType="DOUBLE" property="startCkzNan" />
        <result column="end_ckz_nan" jdbcType="DOUBLE" property="endCkzNan" />
        <result column="start_ckz_nv" jdbcType="DOUBLE" property="startCkzNv" />
        <result column="end_ckz_nv" jdbcType="DOUBLE" property="endCkzNv" />
        <result column="start_ckz_et" jdbcType="DOUBLE" property="startCkzEt" />
        <result column="end_ckz_et" jdbcType="DOUBLE" property="endCkzEt" />
        <result column="start_ckz_xse" jdbcType="DOUBLE" property="startCkzXse" />
        <result column="end_ckz_xse" jdbcType="DOUBLE" property="endCkzXse" />
        <result column="start_ckz_ye" jdbcType="DOUBLE" property="startCkzYe" />
        <result column="end_ckz_ye" jdbcType="DOUBLE" property="endCkzYe" />
        <result column="syz" jdbcType="LONGVARCHAR" property="syz" />
        <result column="jjz" jdbcType="LONGVARCHAR" property="jjz" />
        <result column="sjyq" jdbcType="LONGVARCHAR" property="sjyq" />
        <result column="lcyy" jdbcType="LONGVARCHAR" property="lcyy" />
        <result column="yxys" jdbcType="LONGVARCHAR" property="yxys" />
        <result column="lcjd" jdbcType="LONGVARCHAR" property="lcjd" />
        <result column="jyTypeName" property="jyTypeName" />
        <result column="jgjldwName" property="jgjldwName"  />

        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_userId" jdbcType="INTEGER" property="createUserId" />
        <result column="update_userId" jdbcType="INTEGER" property="updateUserId" />
    </resultMap>
    <delete id="del" parameterType="java.lang.Integer">
        delete from klgbase_examine
        where id = #{examineId}
    </delete>


    <insert id="add" parameterType="com.jsg.entity.Examine" useGeneratedKeys="true" keyProperty="id">
    insert into klgbase_examine (id, xm_code, catalog_id,
      xm_name, lis_jymx_bm, jyff,
      yblx, jy_type_code, cjbw,
      jgjldw_code, jgzcbs_code, start_ckz_nan,
      end_ckz_nan, start_ckz_nv, end_ckz_nv,
      start_ckz_et, end_ckz_et, start_ckz_xse,
      end_ckz_xse, start_ckz_ye, end_ckz_ye,
      `status`, create_time, update_time,
      create_userId, update_userId, syz,
      jjz, sjyq, lcyy,
      yxys, lcjd)
    values (#{id,jdbcType=INTEGER}, #{xmCode,jdbcType=VARCHAR}, #{catalogId,jdbcType=INTEGER},
      #{xmName,jdbcType=VARCHAR}, #{lisJymxBm,jdbcType=VARCHAR}, #{jyff,jdbcType=VARCHAR},
      #{yblx,jdbcType=VARCHAR}, #{jyTypeCode,jdbcType=VARCHAR}, #{cjbw,jdbcType=VARCHAR},
      #{jgjldwCode,jdbcType=VARCHAR}, #{jgzcbsCode,jdbcType=VARCHAR}, #{startCkzNan,jdbcType=DOUBLE},
      #{endCkzNan,jdbcType=DOUBLE}, #{startCkzNv,jdbcType=DOUBLE}, #{endCkzNv,jdbcType=DOUBLE},
      #{startCkzEt,jdbcType=DOUBLE}, #{endCkzEt,jdbcType=DOUBLE}, #{startCkzXse,jdbcType=DOUBLE},
      #{endCkzXse,jdbcType=DOUBLE}, #{startCkzYe,jdbcType=DOUBLE}, #{endCkzYe,jdbcType=DOUBLE},
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{createUserId,jdbcType=INTEGER}, #{updateUserId,jdbcType=INTEGER}, #{syz,jdbcType=LONGVARCHAR},
      #{jjz,jdbcType=LONGVARCHAR}, #{sjyq,jdbcType=LONGVARCHAR}, #{lcyy,jdbcType=LONGVARCHAR},
      #{yxys,jdbcType=LONGVARCHAR}, #{lcjd,jdbcType=LONGVARCHAR})
    </insert>


    <update id="edi" parameterType="com.jsg.entity.Examine">
        update klgbase_examine
        <set>
            <if test="xmCode != null">
                xm_code = #{xmCode,jdbcType=VARCHAR},
            </if>
            <if test="catalogId != null">
                catalog_id = #{catalogId,jdbcType=INTEGER},
            </if>
            <if test="xmName != null">
                xm_name = #{xmName,jdbcType=VARCHAR},
            </if>
            <if test="lisJymxBm != null">
                lis_jymx_bm = #{lisJymxBm,jdbcType=VARCHAR},
            </if>
            <if test="jyff != null">
                jyff = #{jyff,jdbcType=VARCHAR},
            </if>
            <if test="yblx != null">
                yblx = #{yblx,jdbcType=VARCHAR},
            </if>
            <if test="jyTypeCode != null">
                jy_type_code = #{jyTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="cjbw != null">
                cjbw = #{cjbw,jdbcType=VARCHAR},
            </if>
            <if test="jgjldwCode != null">
                jgjldw_code = #{jgjldwCode,jdbcType=VARCHAR},
            </if>
            <if test="jgzcbsCode != null">
                jgzcbs_code = #{jgzcbsCode,jdbcType=VARCHAR},
            </if>
            <if test="startCkzNan != null">
                start_ckz_nan = #{startCkzNan,jdbcType=DOUBLE},
            </if>
            <if test="endCkzNan != null">
                end_ckz_nan = #{endCkzNan,jdbcType=DOUBLE},
            </if>
            <if test="startCkzNv != null">
                start_ckz_nv = #{startCkzNv,jdbcType=DOUBLE},
            </if>
            <if test="endCkzNv != null">
                end_ckz_nv = #{endCkzNv,jdbcType=DOUBLE},
            </if>
            <if test="startCkzEt != null">
                start_ckz_et = #{startCkzEt,jdbcType=DOUBLE},
            </if>
            <if test="endCkzEt != null">
                end_ckz_et = #{endCkzEt,jdbcType=DOUBLE},
            </if>
            <if test="startCkzXse != null">
                start_ckz_xse = #{startCkzXse,jdbcType=DOUBLE},
            </if>
            <if test="endCkzXse != null">
                end_ckz_xse = #{endCkzXse,jdbcType=DOUBLE},
            </if>
            <if test="startCkzYe != null">
                start_ckz_ye = #{startCkzYe,jdbcType=DOUBLE},
            </if>
            <if test="endCkzYe != null">
                end_ckz_ye = #{endCkzYe,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                create_userId = #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="updateUserid != null">
                update_userId = #{updateUserid,jdbcType=INTEGER},
            </if>
            <if test="syz != null">
                syz = #{syz,jdbcType=LONGVARCHAR},
            </if>
            <if test="jjz != null">
                jjz = #{jjz,jdbcType=LONGVARCHAR},
            </if>
            <if test="sjyq != null">
                sjyq = #{sjyq,jdbcType=LONGVARCHAR},
            </if>
            <if test="lcyy != null">
                lcyy = #{lcyy,jdbcType=LONGVARCHAR},
            </if>
            <if test="yxys != null">
                yxys = #{yxys,jdbcType=LONGVARCHAR},
            </if>
            <if test="lcjd != null">
                lcjd = #{lcjd,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByCode" parameterType="string" resultMap="KlgbaseExamineMap">
    select  * from  klgbase_examine t1 where t1.xm_code = #{xmCode}
    </select>


    <select id="list" resultMap="KlgbaseExamineMap">
        SELECT
        t1.*,
        t2.`name` AS jyTypeName,
        t3.`name` AS jgjldwName
        FROM
        klgbase_examine t1
        LEFT JOIN sys_dictionary t2 ON t1.jy_type_code = t2.`code`
        LEFT JOIN sys_dictionary t3 ON t1.jgjldw_code = t3.`code`
        WHERE
         t1.catalog_id = #{catalogId}
        <if test="queryKey != null ">
            AND concat(ifnull(t1.xm_name,''),ifnull(t1.xm_code,'')) like ('%' #{queryKey} '%')
        </if>

        <if test="jyTypeCode != null ">
            AND t1.jy_type_code =#{jyTypeCode}
        </if>

        <if test="yblxCode != null ">
            AND t1.yblx_code =#{yblxCode}
        </if>
    </select>

    <select id="listByName" resultType="java.util.Map">
SELECT
	t1.*, t3.mxfyxmbm,
	t3.xmbm,
	t3.xmdm,
	t3.zbbm,
	t3.zbdm,
	t3.zbmc,
	t3.zlxmbm
FROM
	klgbase_examine t1
LEFT JOIN klgbase_examine_rlt_lis t2 ON t1.xm_code = t2.xm_code
LEFT JOIN lis_xmbm t3 on t2.lis_xmbm = t3.zbbm where  1=1
and   concat(ifnull(t3.xmmc,''),ifnull(t3.xmdm,'')) like ('%' #{queryKey} '%')
    </select>

</mapper>