<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.HzsxMapper">
    <resultMap id="KlgbaseHzsxMap" type="com.jsg.entity.Hzsx">
        <result property="id" column="id"/>
        <result property="catalogId" column="catalog_id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="createTime" column="create_time" javaType="java.util.Date"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date"/>
        <result property="createUserId" column="create_userId"/>
        <result property="updateUserId" column="update_userId"/>
    </resultMap>

    <delete id="del" parameterType="java.lang.Integer">
        delete from klgbase_hzsx
        where id = #{hzsxId}
    </delete>


    <insert id="add" parameterType="com.jsg.entity.Hzsx" useGeneratedKeys="true" keyProperty="id">
insert into  klgbase_hzsx
(id,
catalog_id,
name,
code,
create_time,
update_time,
create_userId,
update_userId)
values (
#{id},
#{catalogId},
#{name},
#{code},
#{createTime},
#{updateTime},
#{createUserId},
#{updateUserId}
)
    </insert>


    <update id="edi" parameterType="com.jsg.entity.Hzsx">
        update klgbase_hzsx
        <set>
            <if test="catalogId != null">
                catalog_id = #{catalogId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createUserId != null">
                create_userId = #{createUserId},
            </if>
            <if test="updateUserId != null">
                update_userId = #{updateUserId},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


</mapper>