<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.HzsxListMapper">
    <resultMap id="KlgbaseHzsxListMap" type="com.jsg.entity.HzsxList">
        <result property="id" column="id"/>
        <result property="propId" column="prop_id"/>
        <result property="value" column="value"/>
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into klgbase_hzsx_list
        (
        id,
        prop_id,
        value
        )
        values
        <foreach collection="emps" item="emp" separator=",">
            (#{emp.id},#{emp.propId},#{emp.value})
        </foreach>

    </insert>


    <delete id="del" parameterType="Integer">
DELETE FROM klgbase_hzsx_list   WHERE prop_id= #{propId}
    </delete>

    <select id="list" parameterType="string" resultMap="KlgbaseHzsxListMap">
        select * from  klgbase_hzsx_list  tt1 where tt1.prop_id= #{propId}
    </select>

</mapper>