<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.HzsxMapper">
    <resultMap id="KlgbaseHzsxMap" type="com.jsg.entity.Hzsx">
        <result property="id" column="id"/>
        <result property="catalogId" column="catalog_id"/>
        <result property="name" column="name"/>
        <result property="value" column="value"/>
        <result property="code" column="code"/>
        <result property="valueType" column="value_type"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time" javaType="java.util.Date"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date"/>
        <result property="createUserId" column="create_userId"/>
        <result property="updateUserId" column="update_userId"/>
    </resultMap>

    <delete id="del" parameterType="java.lang.Integer">
        delete from klgbase_hzsx
        where id = #{hzsxId}
    </delete>


    <insert id="add" parameterType="com.jsg.entity.Hzsx" useGeneratedKeys="true" keyProperty="id">
insert into  klgbase_hzsx
(id,
catalog_id,
name,
code,
value_type,
status,
create_time,
update_time,
create_userId,
update_userId)
values (
#{id},
#{catalogId},
#{name},
#{code},
#{valueType},
#{status},
#{createTime},
#{updateTime},
#{createUserId},
#{updateUserId}
)
    </insert>


    <update id="edi" parameterType="com.jsg.entity.Hzsx">
        update klgbase_hzsx
        <set>
            <if test="catalogId != null">
                catalog_id = #{catalogId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="valueType != null">
                value_type = #{valueType},
            </if>

            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createUserId != null">
                create_userId = #{createUserId},
            </if>
            <if test="updateUserId != null">
                update_userId = #{updateUserId},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectByCode" parameterType="string" resultMap="KlgbaseHzsxMap">
    select  * from  klgbase_hzsx t1 where  t1.code=#{code}
    </select>


    <select id="list" resultMap="KlgbaseHzsxMap">

        SELECT
        t1.*, t2.`value`
        FROM
        klgbase_hzsx t1
        LEFT JOIN (
        SELECT
        group_concat(tt1.`value`) 'value',
        prop_id
        FROM
        klgbase_hzsx_list tt1
        WHERE
        1=1
        GROUP BY
        tt1.prop_id
        ) t2 ON t1.id = t2.prop_id
        WHERE
        t1.catalog_id=#{catalogId}
        <if test="valueType != null ">
            AND t1.value_type= #{valueType}
        </if>

        <if test="queryKey != null ">
            AND concat(ifnull(t1.name,''),ifnull(t1.code,'')) like ('%' #{queryKey} '%')
        </if>
    </select>

</mapper>