<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.InspectMapper">
    <resultMap id="KlgbaseInspectMap" type="com.jsg.entity.Inspect">
        <result property="id" column="id"/>
        <result property="catalogId" column="catalog_id"/>
        <result property="xmName" column="xm_name"/>
        <result property="xmCode" column="xm_code"/>
        <result property="bwName" column="bw_name"/>
        <result property="bwCode" column="bw_code"/>
        <result property="jcTypeCode" column="jc_type_code"/>
        <result property="yxFlagCode" column="yx_flag_code"/>
        <result property="yxFlagName" column="yxFlagName"/>
        <result property="syz" column="syz"/>
        <result property="jjz" column="jjz"/>
        <result column="jcqzb" jdbcType="LONGVARCHAR" property="jcqzb"/>
        <result column="lcyy" jdbcType="LONGVARCHAR" property="lcyy"/>
        <result property="createTime" column="create_time" javaType="java.util.Date"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date"/>
        <result property="createUserId" column="create_userId"/>
        <result property="updateUserId" column="update_userId"/>
    </resultMap>

    <delete id="del" parameterType="java.lang.Integer">
        delete from klgbase_inspect
        where id = #{inspectId}
    </delete>


    <insert id="add" parameterType="com.jsg.entity.Inspect" useGeneratedKeys="true" keyProperty="id">
insert into klgbase_inspect (
id,
catalog_id,
xm_name,
xm_code,
bw_name,
bw_code,
jc_type_code,
yx_flag_code,
syz,
jjz,
jcqzb,
 lcyy,
status,
create_time,
update_time,
create_userId,
update_userId

  )
 values
 ( #{id},
 #{catalogId},
 #{xmName},
 #{xmCode},
 #{bwName},
 #{bwCode},
 #{jcTypeCode},
 #{yxFlagCode},
 #{syz},
 #{jjz},
#{jcqzb},
#{lcyy},
 #{status},
 #{createTime},
 #{updateTime},
 #{createUserId},
 #{updateUserId}

 )
    </insert>


    <update id="edi" parameterType="com.jsg.entity.Inspect">
        update klgbase_inspect
        <set>
            <if test="catalogId != null">
                catalog_id = #{catalogId},
            </if>
            <if test="xmCode != null">
                xm_code = #{xmCode},
            </if>
            <if test="bwName != null">
                bw_name = #{bwName},
            </if>
            <if test="bwCode != null">
                bw_code = #{bwCode},
            </if>
            <if test="jcTypeCode != null">
                jc_type_code = #{jcTypeCode},
            </if>
            <if test="yxFlagCode != null">
                yx_flag_code = #{yxFlagCode},
            </if>
            <if test="syz != null">
                syz = #{syz},
            </if>

            <if test="jjz != null">
                jjz = #{jjz},
            </if>

            <if test="jcqzb != null">
                jcqzb = #{jcqzb,jdbcType=LONGVARCHAR},
            </if>
            <if test="lcyy != null">
                lcyy = #{lcyy,jdbcType=LONGVARCHAR},
            </if>

            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="createUserId != null">
                create_userId = #{createUserId},
            </if>
            <if test="updateUserId != null">
                update_userId = #{updateUserId},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectByCode" parameterType="com.jsg.entity.Inspect" resultMap="KlgbaseInspectMap">
        select  * from  klgbase_inspect t1 where  t1.xm_code = #{xmCode} or t1.bw_code = #{bwCode}
    </select>

    <select id="list" resultMap="KlgbaseInspectMap">
        SELECT
        t1.* ,t2.`name` as yxFlagName
        FROM
        klgbase_inspect t1 left JOIN sys_dictionary t2 on t1.yx_flag_code = t2.`code`
        WHERE
        t1.catalog_id = #{catalogId}
        <if test="queryKey != null ">
            AND concat(ifnull(t1.xm_code,''),ifnull(t1.xm_name,'')) like ('%' #{queryKey} '%')
        </if>

        <if test="bw != null ">
            AND concat(ifnull(t1.bw_code,''),ifnull(t1.bw_name,'')) like ('%' #{bw} '%')
        </if>

        <if test="jcTypeCode != null ">
            AND t1.jc_type_code =#{jcTypeCode}
        </if>

        <if test="yxFlagCode != null ">
            AND t1.yx_flag_code =#{yxFlagCode}
        </if>
    </select>


    <select id="listByName" resultMap="KlgbaseInspectMap">
        select * from klgbase_inspect t1 where  1=1 and
    concat(ifnull(xm_code,''),ifnull(xm_name,'')) like ('%' #{queryKey} '%')
    </select>

    <select id="selectByXmCodes"  parameterType="string" resultMap="KlgbaseInspectMap">
   select  * from klgbase_inspect t1 where t1.xm_code in (${xmCode})
   <if test="queryKey !=null and queryKey !=''">
      and   concat(ifnull(xm_code,''),ifnull(xm_name,'')) like ('%' #{queryKey} '%')

   </if>
        order by field(xm_code,${xmCode})
    </select>
</mapper>