<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsg.dao.mysql.KlgbaseExamineCkfwMapper">
    <resultMap id="BaseResultMap" type="com.jsg.entity.KlgbaseExamineCkfw">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="jyxm_id" jdbcType="INTEGER" property="jyxmId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="start_value" jdbcType="DOUBLE" property="startValue"/>
        <result column="end_value" jdbcType="DOUBLE" property="endValue"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, jyxm_id, `name`, start_value, end_value
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from klgbase_examine_ckfw
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from klgbase_examine_ckfw
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.jsg.entity.KlgbaseExamineCkfw">
    insert into klgbase_examine_ckfw (id, jyxm_id, `name`, 
      start_value, end_value)
    values (#{id,jdbcType=INTEGER}, #{jyxmId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{startValue,jdbcType=DOUBLE}, #{endValue,jdbcType=DOUBLE})
  </insert>
    <insert id="insertSelective" parameterType="com.jsg.entity.KlgbaseExamineCkfw">
        insert into klgbase_examine_ckfw
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="jyxmId != null">
                jyxm_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="startValue != null">
                start_value,
            </if>
            <if test="endValue != null">
                end_value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="jyxmId != null">
                #{jyxmId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="startValue != null">
                #{startValue,jdbcType=DOUBLE},
            </if>
            <if test="endValue != null">
                #{endValue,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jsg.entity.KlgbaseExamineCkfw">
        update klgbase_examine_ckfw
        <set>
            <if test="jyxmId != null">
                jyxm_id = #{jyxmId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="startValue != null">
                start_value = #{startValue,jdbcType=DOUBLE},
            </if>
            <if test="endValue != null">
                end_value = #{endValue,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jsg.entity.KlgbaseExamineCkfw">
    update klgbase_examine_ckfw
    set jyxm_id = #{jyxmId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      start_value = #{startValue,jdbcType=DOUBLE},
      end_value = #{endValue,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <delete id="deleteByJyxmId" parameterType="int">
        delete from klgbase_examine_ckfw
    where jyxm_id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>