<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.BaseinfoMapper">
    <resultMap id="BaseResultMap" type="com.jsg.entity.Baseinfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="ys_code" jdbcType="VARCHAR" property="ysCode"/>
        <result column="ks_code" jdbcType="VARCHAR" property="ksCode"/>
        <result column="ks_name" jdbcType="VARCHAR" property="ksName"/>
        <result column="staff_type" jdbcType="INTEGER" property="staffType"/>
        <result column="mobile_num" jdbcType="VARCHAR" property="mobileNum"/>
        <result column="job_title_code" jdbcType="VARCHAR" property="jobTitleCode"/>
        <result column="job_title_name" jdbcType="VARCHAR" property="jobTitleName"/>
        <result column="prof_title_code" jdbcType="VARCHAR" property="profTitleCode"/>
        <result column="prof_title_name" jdbcType="VARCHAR" property="profTitleName"/>
        <result column="join_date" jdbcType="DATE" property="joinDate"/>
        <result column="yxzy_code" jdbcType="VARCHAR" property="yxzyCode"/>
        <result column="yxzy_name" jdbcType="VARCHAR" property="yxzyName"/>
        <result column="ysjb_code" jdbcType="VARCHAR" property="ysjbCode"/>
        <result column="ysjb_name" jdbcType="VARCHAR" property="ysjbName"/>
        <result column="zgzs_bh" jdbcType="VARCHAR" property="zgzsBh"/>
        <result column="zyzs_bh" jdbcType="VARCHAR" property="zyzsBh"/>
        <result column="zylb_code" jdbcType="VARCHAR" property="zylbCode"/>
        <result column="zylb_name" jdbcType="VARCHAR" property="zylbName"/>
        <result column="zykm_code" jdbcType="VARCHAR" property="zykmCode"/>
        <result column="zykm_name" jdbcType="VARCHAR" property="zykmName"/>
        <result column="zyzt_code" jdbcType="VARCHAR" property="zyztCode"/>
        <result column="zyzt_name" jdbcType="VARCHAR" property="zyztName"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="has_yb_zz" jdbcType="INTEGER" property="hasYbZz"/>
        <result column="has_zyys_zz" jdbcType="INTEGER" property="hasZyysZz"/>
        <result column="has_ts_zz" jdbcType="INTEGER" property="hasTsZz"/>
        <result column="has_qt_zz" jdbcType="INTEGER" property="hasQtZz"/>
        <result column="has_yljs_zz" jdbcType="INTEGER" property="hasYljsZz"/>
        <result column="has_ss_zz" jdbcType="INTEGER" property="hasSsZz"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userId" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userId" jdbcType="INTEGER" property="updateUserid"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        qlf_staff_baseinfo
        WHERE
        1 = 1
        <if test="sex != null">
            and sex = #{sex}
        </if>
        <if test="ksCode != null">
            and ks_code = #{ksCode}
        </if>
        <if test="position != null">
            and prof_title = #{position}
        </if>

        <if test="queryKey != null">
            AND concat(ifnull(full_name,''),ifnull(yxzy_name,'')) like ('%'#{queryKey}'%')
        </if>

        <if test="zzName == '一般资质'">
            and has_yb_zz = 1
        </if>

        <if test="zzName == '特殊资质'">
            and has_ts_zz = 1
        </if>

        <if test="zzName == '其他资质'">
            and has_qt_zz = 1
        </if>

        <if test="zzName == '医疗技术资质'">
            and has_yljs_zz = 1
        </if>

        <if test="zzName == '手术资质'">
            and has_ss_zz = 1
        </if>

    </select>


    <update id="updateByPrimaryKeySelective" parameterType="com.jsg.entity.Baseinfo">
        update qlf_staff_baseinfo
        <set>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="ysCode != null">
                ys_code = #{ysCode,jdbcType=VARCHAR},
            </if>
            <if test="ksCode != null">
                ks_code = #{ksCode,jdbcType=VARCHAR},
            </if>
            <if test="ksName != null">
                ks_name = #{ksName,jdbcType=VARCHAR},
            </if>
            <if test="staffType != null">
                staff_type = #{staffType,jdbcType=INTEGER},
            </if>
            <if test="mobileNum != null">
                mobile_num = #{mobileNum,jdbcType=VARCHAR},
            </if>
            <if test="jobTitleCode != null">
                job_title_code = #{jobTitleCode,jdbcType=VARCHAR},
            </if>
            <if test="jobTitleName != null">
                job_title_name = #{jobTitleName,jdbcType=VARCHAR},
            </if>
            <if test="profTitleCode != null">
                prof_title_code = #{profTitleCode,jdbcType=VARCHAR},
            </if>
            <if test="profTitleName != null">
                prof_title_name = #{profTitleName,jdbcType=VARCHAR},
            </if>
            <if test="joinDate != null">
                join_date = #{joinDate,jdbcType=DATE},
            </if>
            <if test="yxzyCode != null">
                yxzy_code = #{yxzyCode,jdbcType=VARCHAR},
            </if>
            <if test="yxzyName != null">
                yxzy_name = #{yxzyName,jdbcType=VARCHAR},
            </if>
            <if test="ysjbCode != null">
                ysjb_code = #{ysjbCode,jdbcType=VARCHAR},
            </if>
            <if test="ysjbName != null">
                ysjb_name = #{ysjbName,jdbcType=VARCHAR},
            </if>
            <if test="zgzsBh != null">
                zgzs_bh = #{zgzsBh,jdbcType=VARCHAR},
            </if>
            <if test="zyzsBh != null">
                zyzs_bh = #{zyzsBh,jdbcType=VARCHAR},
            </if>
            <if test="zylbCode != null">
                zylb_code = #{zylbCode,jdbcType=VARCHAR},
            </if>
            <if test="zylbName != null">
                zylb_name = #{zylbName,jdbcType=VARCHAR},
            </if>
            <if test="zykmCode != null">
                zykm_code = #{zykmCode,jdbcType=VARCHAR},
            </if>
            <if test="zykmName != null">
                zykm_name = #{zykmName,jdbcType=VARCHAR},
            </if>
            <if test="zyztCode != null">
                zyzt_code = #{zyztCode,jdbcType=VARCHAR},
            </if>
            <if test="zyztName != null">
                zyzt_name = #{zyztName,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                `comment` = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="hasYbZz != null">
                has_yb_zz = #{hasYbZz,jdbcType=INTEGER},
            </if>
            <if test="hasZyysZz != null">
                has_zyys_zz = #{hasZyysZz,jdbcType=INTEGER},
            </if>
            <if test="hasTsZz != null">
                has_ts_zz = #{hasTsZz,jdbcType=INTEGER},
            </if>
            <if test="hasQtZz != null">
                has_qt_zz = #{hasQtZz,jdbcType=INTEGER},
            </if>
            <if test="hasYljsZz != null">
                has_yljs_zz = #{hasYljsZz,jdbcType=INTEGER},
            </if>
            <if test="hasSsZz != null">
                has_ss_zz = #{hasSsZz,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                create_userId = #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userId = #{updateUserid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>