<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.QualificationsMapper">
    <resultMap id="QlfStaffQualificationsMap" type="com.jsg.entity.Qualifications">
        <result property="id" column="id"/>
        <result property="staffId" column="staff_id"/>
        <result property="catalogCode" column="catalog_code"/>
        <result property="zzmcCode" column="zzmc_code"/>
        <result property="admDate" column="adm_date" javaType="java.util.Date"/>
        <result property="admComment" column="adm_comment"/>
        <result property="sskmCode" column="sskm_code"/>
        <result property="ssjbCode" column="ssjb_code"/>
        <result property="isKsApproved" column="is_ks_approved"/>
        <result property="isYyApproved" column="is_yy_approved"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time" javaType="java.util.Date"/>
        <result property="createUserId" column="create_userId"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date"/>
        <result property="updateUserId" column="update_userId"/>
    </resultMap>

    <update id="ediStatusQualifications">
        UPDATE qlf_staff_qualifications
        <set>
            <if test="status != null">
                status = #{status},
            </if>

        </set>
        WHERE staff_id = #{staffId}
    </update>


    <insert id="add" parameterType="com.jsg.entity.Qualifications" useGeneratedKeys="true"
            keyProperty="id">
 INSERT INTO qlf_staff_qualifications (
          staff_id,
catalog_code,
          zzmc_code,
          adm_date,
          adm_comment,
          sskm_code,
          ssjb_code,
		  is_ks_approved,
		  is_yy_approved,
		  status,
		  create_time,
		  create_userId,
		  update_time,
		  update_userId
        )
        VALUES (
          #{staffId},
          #{catalogCode},
          #{zzmcCode},
          #{admDate},
          #{admComment},
          #{sskmCode},
          #{ssjbCode},
          #{isKsApproved},
          #{isYyApproved},
          #{status},
          #{createTime},
          #{createUserId},
          #{updateTime},
		   #{updateUserId}
        )
    </insert>


    <update id="edi" parameterType="com.jsg.entity.Qualifications">
        UPDATE qlf_staff_qualifications
        <set>
            <if test="staffId != null">
                staff_id = #{staffId},
            </if>
            <if test="catalogCode != null">
                catalog_code = #{catalogCode},
            </if>
            <if test="zzmcCode != null">
                zzmc_code = #{zzmcCode},
            </if>
            <if test="admDate != null">
                adm_date = #{admDate},
            </if>
            <if test="admComment != null">
                adm_comment = #{admComment},
            </if>
            <if test="sskmCode != null">
                sskm_code = #{sskmCode},
            </if>
            <if test="ssjbCode != null">
                ssjb_code = #{ssjbCode},
            </if>
            <if test="isKsApproved != null">
                is_ks_approved = #{isKsApproved},
            </if>
            <if test="isYyApproved != null">
                is_yy_approved = #{isYyApproved},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createUserId != null">
                create_userId = #{createUserId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUserId != null">
                update_userId = #{updateUserId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="del" parameterType="int">
        delete from qlf_staff_qualifications
        where id = #{qualificationId}
    </delete>
    <resultMap id="listByassociationListQualificationMap" type="com.jsg.entity.QualificationRule">
        <id column="catalogCode" property="catalogCode"/>
        <result column="zzmcCode" property="zzmcCode"/>
        <result column="catalogName" property="catalogName"/>
        <result column="zzmc" property="zzmc"/>
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="ruleNames" ofType="string">
            <result column="ruleName" property="ruleName"/>
        </collection>
    </resultMap>
    <select id="listByassociationListQualification" resultMap="listByassociationListQualificationMap">
        SELECT
        t1.catalog_code AS catalogCode,
        t1.zzmc_code AS zzmcCode,
        t2.`name` AS catalogName,
        t3.`name` AS zzmc,
        t5.`name` AS ruleName
        FROM
        qlf_staff_qualifications t1
        LEFT JOIN sys_dictionary_catalog t2 ON t1.catalog_code = t2.`code`
        LEFT JOIN sys_dictionary t3 ON t1.zzmc_code = t3.`code`
        LEFT JOIN rule_items t4 ON t3.`code` = t4.klg_item_code
        LEFT JOIN rule_base t5 ON t4.rule_id = t5.id
        WHERE
        t1.staff_id = #{staffId}
        <if test="catalogCode != null ">
            and t1.catalog_code = #{catalogCode}
        </if>
        <if test="queryKey != null">
            AND concat(ifnull(t3.`name`,''), ifnull(t5.`name`,'')) like ('%' #{queryKey} '%')
        </if>
    </select>


    <resultMap id="myBaseResultMap" type="com.jsg.entity.Baseinfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="ys_code" jdbcType="VARCHAR" property="ysCode"/>
        <result column="ks_code" jdbcType="VARCHAR" property="ksCode"/>
        <result column="ks_name" jdbcType="VARCHAR" property="ksName"/>
        <result column="staff_type" jdbcType="INTEGER" property="staffType"/>
        <result column="mobile_num" jdbcType="VARCHAR" property="mobileNum"/>
        <result column="job_title_code" jdbcType="VARCHAR" property="jobTitleCode"/>
        <result column="job_title_name" jdbcType="VARCHAR" property="jobTitleName"/>
        <result column="prof_title_code" jdbcType="VARCHAR" property="profTitleCode"/>
        <result column="prof_title_name" jdbcType="VARCHAR" property="profTitleName"/>
        <result column="join_date" jdbcType="DATE" property="joinDate"/>
        <result column="yxzy_code" jdbcType="VARCHAR" property="yxzyCode"/>
        <result column="yxzy_name" jdbcType="VARCHAR" property="yxzyName"/>
        <result column="ysjb_code" jdbcType="VARCHAR" property="ysjbCode"/>
        <result column="ysjb_name" jdbcType="VARCHAR" property="ysjbName"/>
        <result column="zgzs_bh" jdbcType="VARCHAR" property="zgzsBh"/>
        <result column="zyzs_bh" jdbcType="VARCHAR" property="zyzsBh"/>
        <result column="zylb_code" jdbcType="VARCHAR" property="zylbCode"/>
        <result column="zylb_name" jdbcType="VARCHAR" property="zylbName"/>
        <result column="zykm_code" jdbcType="VARCHAR" property="zykmCode"/>
        <result column="zykm_name" jdbcType="VARCHAR" property="zykmName"/>
        <result column="zyzt_code" jdbcType="VARCHAR" property="zyztCode"/>
        <result column="zyzt_name" jdbcType="VARCHAR" property="zyztName"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="has_yb_zz" jdbcType="INTEGER" property="hasYbZz"/>
        <result column="has_zyys_zz" jdbcType="INTEGER" property="hasZyysZz"/>
        <result column="has_ts_zz" jdbcType="INTEGER" property="hasTsZz"/>
        <result column="has_qt_zz" jdbcType="INTEGER" property="hasQtZz"/>
        <result column="has_yljs_zz" jdbcType="INTEGER" property="hasYljsZz"/>
        <result column="has_ss_zz" jdbcType="INTEGER" property="hasSsZz"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userId" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userId" jdbcType="INTEGER" property="updateUserid"/>
    </resultMap>


    <select id="list" resultMap="myBaseResultMap">
        SELECT
        *
        FROM
        qlf_staff_baseinfo
        WHERE
        1 = 1
        <if test="sex != null">
            and sex = #{sex}
        </if>
        <if test="ksCode != null">
            and ks_code = #{ksCode}
        </if>
        <if test="position != null">
            and prof_title = #{position}
        </if>

        <if test="queryKey != null">
            AND concat(ifnull(full_name,''),ifnull(yxzy_name,'')) like ('%' #{queryKey} '%')
        </if>

        <if test="zzName == '一般资质'">
            and has_yb_zz = 1
        </if>

        <if test="zzName == '特殊资质'">
            and has_ts_zz = 1
        </if>

        <if test="zzName == '其他资质'">
            and has_qt_zz = 1
        </if>

        <if test="zzName == '医疗技术资质'">
            and has_yljs_zz = 1
        </if>

        <if test="zzName == '手术资质'">
            and has_ss_zz = 1
        </if>

    </select>

    <select id="detailsByQualification" parameterType="int" resultMap="QlfStaffQualificationsMap">

SELECT
	t1.*, t2.`name` AS zzmc,
	t3.`name` AS catalogName
FROM
	qlf_staff_qualifications t1
LEFT JOIN sys_dictionary t2 ON t1.zzmc_code = t2.`code`
LEFT JOIN sys_dictionary_catalog t3 ON t1.catalog_code = t3.`code`
WHERE
	1 = 1 and t1.staff_id = #{staffId}

    </select>

    <select id="listByYsCode" parameterType="string" resultType="com.jsg.entity.pojo.Patients">

SELECT
	tt1.code as name,
tt1.zzmc_code as endValue
FROM
	(
		SELECT
			'code',
			t2.zzmc_code
		FROM
			qlf_staff_baseinfo t1 LEFT join
			qlf_staff_qualifications t2 on t1.id = t2.staff_id
		WHERE
			t1.ys_code =#{ysCode}
	) tt1

    </select>

    <select id="selectByOne" parameterType="Integer" resultMap="QlfStaffQualificationsMap">
        select  * from qlf_staff_qualifications t1 where id = #{qualificationId}
    </select>

    <select id="selectByStaffIdAndCatalogCode" resultMap="QlfStaffQualificationsMap">
   select  * from qlf_staff_qualifications t1 where t1.catalog_code = #{catalogCode} and  t1.staff_id = #{staffId}

    </select>
</mapper>