<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.TBankMapper">
    <resultMap type="com.jsg.entity.mysql.TBank" id="rtMap">
        <result property="userId" column="user_id"/>
        <result property="money" column="money"/>
    </resultMap>

    <insert id="insert" parameterType="com.jsg.entity.mysql.TBank">
        insert into t_bank(user_id,money)
        values (
          #{userId,jdbcType=INTEGER},
          #{money,jdbcType=INTEGER}
        )
    </insert>

    <!-- 查询记录总数 -->
    <select id="selectAll" resultMap="rtMap">
        SELECT user_id,money FROM t_bank
    </select>

</mapper>