<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsg.dao.mysql.SysRuleaccessLogMapper">
    <resultMap id="BaseResultMap" type="com.jsg.entity.SysRuleaccessLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="access_time" property="accessTime"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="app_code" jdbcType="VARCHAR" property="appCode"/>
        <result column="IP" jdbcType="VARCHAR" property="ip"/>
        <result column="client_type" jdbcType="INTEGER" property="clientType"/>
        <result column="rule_id" jdbcType="INTEGER" property="ruleId"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="rule_catalog_name" jdbcType="VARCHAR" property="ruleCatalogName"/>
        <result column="result_name" jdbcType="VARCHAR" property="resultName"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, access_time, app_name, app_code, IP, client_type, rule_id, rule_name, rule_catalog_name, 
    result_name
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_ruleaccess_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_ruleaccess_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.jsg.entity.SysRuleaccessLog">
    insert into sys_ruleaccess_log (id, access_time, app_name, 
      app_code, IP, client_type, 
      rule_id, rule_name, rule_catalog_name, 
      result_name)
    values (#{id,jdbcType=INTEGER}, #{accessTime,jdbcType=TIMESTAMP}, #{appName,jdbcType=VARCHAR}, 
      #{appCode,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{clientType,jdbcType=INTEGER}, 
      #{ruleId,jdbcType=INTEGER}, #{ruleName,jdbcType=VARCHAR}, #{ruleCatalogName,jdbcType=VARCHAR}, 
      #{resultName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jsg.entity.SysRuleaccessLog">
        insert into sys_ruleaccess_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="accessTime != null">
                access_time,
            </if>
            <if test="appName != null">
                app_name,
            </if>
            <if test="appCode != null">
                app_code,
            </if>
            <if test="ip != null">
                IP,
            </if>
            <if test="clientType != null">
                client_type,
            </if>
            <if test="ruleId != null">
                rule_id,
            </if>
            <if test="ruleName != null">
                rule_name,
            </if>
            <if test="ruleCatalogName != null">
                rule_catalog_name,
            </if>
            <if test="resultName != null">
                result_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="accessTime != null">
                #{accessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="appName != null">
                #{appName,jdbcType=VARCHAR},
            </if>
            <if test="appCode != null">
                #{appCode,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="clientType != null">
                #{clientType,jdbcType=INTEGER},
            </if>
            <if test="ruleId != null">
                #{ruleId,jdbcType=INTEGER},
            </if>
            <if test="ruleName != null">
                #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="ruleCatalogName != null">
                #{ruleCatalogName,jdbcType=VARCHAR},
            </if>
            <if test="resultName != null">
                #{resultName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jsg.entity.SysRuleaccessLog">
        update sys_ruleaccess_log
        <set>
            <if test="accessTime != null">
                access_time = #{accessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="appName != null">
                app_name = #{appName,jdbcType=VARCHAR},
            </if>
            <if test="appCode != null">
                app_code = #{appCode,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                IP = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="clientType != null">
                client_type = #{clientType,jdbcType=INTEGER},
            </if>
            <if test="ruleId != null">
                rule_id = #{ruleId,jdbcType=INTEGER},
            </if>
            <if test="ruleName != null">
                rule_name = #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="ruleCatalogName != null">
                rule_catalog_name = #{ruleCatalogName,jdbcType=VARCHAR},
            </if>
            <if test="resultName != null">
                result_name = #{resultName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jsg.entity.SysRuleaccessLog">
    update sys_ruleaccess_log
    set access_time = #{accessTime,jdbcType=TIMESTAMP},
      app_name = #{appName,jdbcType=VARCHAR},
      app_code = #{appCode,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      client_type = #{clientType,jdbcType=INTEGER},
      rule_id = #{ruleId,jdbcType=INTEGER},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      rule_catalog_name = #{ruleCatalogName,jdbcType=VARCHAR},
      result_name = #{resultName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="logByList" resultType="map">
        SELECT
        result_name,
        COUNT(result_name) AS number
        FROM
        sys_ruleaccess_log t1
        WHERE
        1 = 1
        AND t1.access_time BETWEEN #{startTime}
        AND #{endTime}
        <if test="ruleType != null">
            AND t1.result_name = #{ruleType}
        </if>

        <if test="queryKey != null">
            AND t1.rule_name = #{queryKey}
        </if>
        GROUP BY
        t1.result_name

    </select>


    <select id="quickEntry" resultType="com.jsg.entity.QuickEntry">
SELECT
	t1.klgbase ,t2.rule,t3.qlf
FROM
	(
		SELECT
			SUM(item_num) AS klgbase,
			'a'
		FROM
			klgbase_catalog
	) t1
LEFT JOIN (
	SELECT
		SUM(rule_num) AS rule,
		'a'
	FROM
		rule_catalog
) t2 ON t1.a = t2.a
LEFT JOIN (
	SELECT
		COUNT(id) AS qlf,
		'a'
	FROM
		qlf_staff_baseinfo
) t3 ON t2.a = t3.a
WHERE
	1 = 1


    </select>


    <select id="list" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        sys_ruleaccess_log t1
        WHERE
        1 = 1
        <if test="resultName != null">
            AND t1.result_name = #{resultName}
        </if>
        <if test="ruleName != null">
            AND t1.rule_name = #{ruleName}
        </if>
        <if test="appCode != null">
            AND t1.app_code = #{appCode}
        </if>

        <if test="clientType != null">
            AND t1.client_type = #{clientType}
        </if>

        <if test="ruleCatalogName != null">
            AND t1.rule_catalog_name = #{ruleCatalogName}
        </if>
        order by access_time


    </select>

    <select id="barChart" resultType="com.jsg.entity.BarChart">
    select DATE_FORMAT(access_time,'%Y-%m-%d') hours,count(id) count from 	sys_ruleaccess_log t1 where 1=1
         AND t1.access_time BETWEEN #{startTime}
        AND #{endTime}
      group by hours;

    </select>
</mapper>