<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsg.dao.mysql.RuleItemsMapper">
    <resultMap id="BaseResultMap" type="com.jsg.entity.RuleItems">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="rule_id" jdbcType="INTEGER" property="ruleId"/>
        <result column="rule_item_type" jdbcType="INTEGER" property="ruleItemType"/>
        <result column="condition_type" jdbcType="INTEGER" property="conditionType"/>
        <result column="klg_catalog_id" jdbcType="INTEGER" property="klgCatalogId"/>
        <result column="klg_item_code" jdbcType="VARCHAR" property="klgItemCode"/>
        <result column="klg_item_name" jdbcType="VARCHAR" property="klgItemName"/>
        <result column="klg_item_propName" jdbcType="VARCHAR" property="klgItemPropname"/>
        <result column="klg_item_valueType" jdbcType="INTEGER" property="klgItemValuetype"/>
        <result column="operator" jdbcType="INTEGER" property="operator"/>
        <result column="op_index" jdbcType="INTEGER" property="opIndex"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, rule_id, rule_item_type, condition_type, klg_catalog_id, klg_item_code, klg_item_propName,
    klg_item_valueType, `operator`, op_index
  </sql>

    <delete id="delByRuleId" parameterType="int">
     delete from rule_items
    where rule_id = #{id}
    </delete>
    <insert id="add" parameterType="com.jsg.entity.RuleItems" useGeneratedKeys="true" keyProperty="id">
    insert into rule_items (id, rule_id, rule_item_type, 
      condition_type, klg_catalog_id, klg_item_code,klg_item_name,
      klg_item_propName, klg_item_valueType, `operator`, 
      op_index)
    values (#{id,jdbcType=INTEGER}, #{ruleId,jdbcType=INTEGER}, #{ruleItemType,jdbcType=INTEGER}, 
      #{conditionType,jdbcType=INTEGER}, #{klgCatalogId,jdbcType=INTEGER}, #{klgItemCode,jdbcType=VARCHAR},#{klgItemName},
      #{klgItemPropname,jdbcType=VARCHAR}, #{klgItemValuetype,jdbcType=INTEGER}, #{operator,jdbcType=INTEGER}, 
      #{opIndex,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.jsg.entity.RuleItems">
        insert into rule_items
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ruleId != null">
                rule_id,
            </if>
            <if test="ruleItemType != null">
                rule_item_type,
            </if>
            <if test="conditionType != null">
                condition_type,
            </if>
            <if test="klgCatalogId != null">
                klg_catalog_id,
            </if>
            <if test="klgItemCode != null">
                klg_item_code,
            </if>
            <if test="klgItemPropname != null">
                klg_item_propName,
            </if>
            <if test="klgItemValuetype != null">
                klg_item_valueType,
            </if>
            <if test="operator != null">
                `operator`,
            </if>
            <if test="opIndex != null">
                op_index,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="ruleId != null">
                #{ruleId,jdbcType=INTEGER},
            </if>
            <if test="ruleItemType != null">
                #{ruleItemType,jdbcType=INTEGER},
            </if>
            <if test="conditionType != null">
                #{conditionType,jdbcType=INTEGER},
            </if>
            <if test="klgCatalogId != null">
                #{klgCatalogId,jdbcType=INTEGER},
            </if>
            <if test="klgItemCode != null">
                #{klgItemCode,jdbcType=INTEGER},
            </if>
            <if test="klgItemPropname != null">
                #{klgItemPropname,jdbcType=VARCHAR},
            </if>
            <if test="klgItemValuetype != null">
                #{klgItemValuetype,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=INTEGER},
            </if>
            <if test="opIndex != null">
                #{opIndex,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="selectItems" resultMap="BaseResultMap">
SELECT
	*
FROM
	rule_items t1
WHERE
	1 = 1
AND t1.rule_id =#{ruleId}
and t1.rule_item_type = #{itemType}
and t1.condition_type = #{conditionType}
    </select>
    <select id="selectItemsByOther" resultMap="BaseResultMap">
        SELECT
	*
FROM
	rule_items t1
WHERE
	1 = 1
AND t1.rule_id =#{ruleId}
and t1.rule_item_type = #{itemType}
and t1.condition_type in('3','4','5','6','7')
    </select>


</mapper>