<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsg.dao.mysql.RuleValueNumberMapper">
    <resultMap id="BaseResultMap" type="com.jsg.entity.RuleValueNumber">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="rule_id" jdbcType="INTEGER" property="ruleId"/>
        <result column="rule_item_id" jdbcType="INTEGER" property="ruleItemId"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="value" jdbcType="DOUBLE" property="value"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, rule_id, rule_item_id, `operator`, `value`
  </sql>


    <delete id="delByRuleId" parameterType="java.lang.Integer">
    delete from rule_value_number
    where rule_id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="add" parameterType="com.jsg.entity.RuleValueNumber">
    insert into rule_value_number (id, rule_id, rule_item_id, 
      `operator`, `value`)
    values (#{id,jdbcType=INTEGER}, #{ruleId,jdbcType=INTEGER}, #{ruleItemId,jdbcType=INTEGER}, 
      #{operator,jdbcType=VARCHAR}, #{value,jdbcType=DOUBLE})
  </insert>
    <insert id="insertSelective" parameterType="com.jsg.entity.RuleValueNumber">
        insert into rule_value_number
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ruleId != null">
                rule_id,
            </if>
            <if test="ruleItemId != null">
                rule_item_id,
            </if>
            <if test="operator != null">
                `operator`,
            </if>
            <if test="value != null">
                `value`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="ruleId != null">
                #{ruleId,jdbcType=INTEGER},
            </if>
            <if test="ruleItemId != null">
                #{ruleItemId,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>

    <select id="selectByItemId" parameterType="int" resultMap="BaseResultMap">

        SELECT * from rule_value_number t1 where t1.rule_item_id =#{itemId}
    </select>

</mapper>