<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.GeneralMapper">


    <select id="department" parameterType="string" resultType="com.jsg.entity.Department">
        SELECT
        t1.hospital_id AS hospitalId,
        t1.ks_code AS ksCode,
        t1.ks_name AS ksName,
        t1.ks_type AS ksType,
        t1.stat_time AS statTime
        FROM
        sys_department t1
        WHERE
        1 = 1
        <if test="queryKey != null">
            AND concat(ifnull(ks_code,''),ifnull(ks_name,'')) like ('%' #{queryKey} '%')
        </if>
    </select>


    <select id="dictionary" resultType="com.jsg.entity.Dictionary">
        SELECT
        t1.*,
        t1.catalog_id AS catalogId,
        t2.`code` AS catalogCode,
        t2.`name` as catalogName
        FROM
        sys_dictionary t1
        LEFT JOIN sys_dictionary_catalog t2 ON t1.catalog_id = t2.id
        WHERE
        t2. CODE like ('%' #{catalogCode} '%')
        <if test="queryKey != null">
            AND concat(ifnull(t1.name,''),ifnull(t1.code,'')) like ('%' #{queryKey} '%')
        </if>
    </select>

    <select id="dictionaryCatalog" parameterType="string" resultType="com.jsg.entity.DictionaryCatalog">
        select * from sys_dictionary_catalog t1 where 1=1
        <if test="queryKey != null">
            AND t1.concat(ifnull(name,''),ifnull(code,'')) like ('%' #{queryKey} '%')
        </if>
    </select>

</mapper>