<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsg.dao.mysql.HzxxMdmMapper">
    <resultMap type="com.jsg.entity.mysql.HzxxMdm" id="mdmMap">
        <result property="id" column="id"/>
        <result property="CJGZRQ" column="CJGZRQ"/>
        <result property="CSD" column="CSD"/>
    </resultMap>

    <!-- 查询记录总数 -->
    <select id="selectAll" resultMap="mdmMap">
        SELECT id, CJGZRQ, CSD FROM t_hzxxmdm Limit 0,10
    </select>

</mapper>